body {
	font-family: Verdana;
	color: #999;
	margin: 0;
	min-width: 600px;
}



.hidden {
	display: none;
}

.chart {
	width: 80%;
	margin: 30px auto;
}

polyline {
	stroke: #999;
}
@media(max-width: 900px) {
	body {
		font-size: 13px;
	}
}